.jumbotron {
	background:transparent !important;
	width: 1200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	box-shadow: 0.5px 0.5px 2px black;
}

.mdl-card__title-text {
	margin-left: auto;
	margin-right: auto;
}

.mdl-textfield {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.mdl-card {
	width: 900px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

.mdl-button {
	margin-right: auto;
	margin-left: auto;
}

.mdl-data-table {
	margin-left: auto;
	margin-right: auto;
}